 @page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


    <div class="parallax-content baner-content" id="home">
        <div class="container">
            <div class="first-content">
                <h1>HSL DOTA 2</h1>
                <span><em>Highschool League</em> Dota 2 Competitions</span>
                <div class="primary-button">
                    <a href="#about">Discover More</a>
                </div>
            </div>
        </div>
    </div>


    <div class="service-content" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="left-text">
                        <h4>About HSL</h4>
                        <div class="line-dec"></div>
                        <p>
                            Let's Play Live's high school League is a free entry Trans-Tasman inter-school esports tournament 
                            for high school students in Australia and New Zealand. The league offers an opportunity for students 
                            to compete in a competitive esports environment, working together as a team and representing their 
                            school - similar to traditional high school sports.
                        </p>
                        <div class="primary-button">
                            <a href="#our-story">Learn More About Us</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="service-item">
                                <h4>Effective Team Work</h4>
                                <div class="line-dec"></div>
                                <p>Team based esports have a strong focus on team work and require players to work together effectively. </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="service-item">
                                <h4>Leadership Skills</h4>
                                <div class="line-dec"></div>
                                <p>Working within a team based esport can bring out leadership skills for cetain individuals within their team.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="service-item">
                                <h4>Comunication Skills</h4>
                                <div class="line-dec"></div>
                                <p>When playing in a team based esport such as Dota 2 Comunication is key to success. </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="service-item">
                                <h4>Sportsmanship</h4>
                                <div class="line-dec"></div>
                                <p>By playing against other teams players are exposed to an enviroment where good sportsmanship is required.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tabs-content" id="our-story">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="wrapper">
                        <section id="first-tab-group" class="tabgroup">
                            <div id="tab1">
                                <img src="~/img/lpl/LPL White.png" alt="">
                                <h2> Who is LPL?</h2>
                                <p>
                                    Based in New Zealand, LPL is an esports media company which operates on a global level.

                                    Our goal is to build an ecosystem that will underpin the continued growth of global esports. We strive to empower players, viewers and partners alike to find purpose in competitive video games.

                                    Our work takes the form of online and linear television broadcasts, event production, IP ownership and talent management. Through unique partnerships, we create esports and gaming projects that 
                                    deliver outstanding experiences to our audience – and measurable commercial results for our partners.
                                </p>
                            </div>
                            <div id="tab2">
                                <img src="~/img/lpl/lpldota.jpg" alt="">
                                <h2> What is LPL?</h2>
                                <p>
                                    LetsPlay.Live (also known as LPL) is an online platform that offers competitive gaming leagues across a variety of titles and skill levels. We are also an esports broadcast production company, creating world-class esports series’ and entertaining content for gamers year-round.

                                    LPL offers gamers of all skill levels the chance to compete in an esports environment from casual to professional televised LAN events. Test your gaming skills across many different FPS, moba, sim-racing, and sports titles on PC, console and mobile. Play for bragging rights,
                                    as well as cash prize pools, and even pathways to international world championships! The competition is always improving – are you?
                                </p>
                            </div>
                            <div id="tab3">
                                <img src="~/img/lpl/lpl_watch_schedule.png" alt="">
                                <h2> Broadcast Schedule</h2>
                                <p>
                                    HSL esports matches are sometimes broadcast weekly live on Twitch.tv and on Sky Sport in New Zealand. These matches are casted live from the LPL Studios in Auckland, New Zealand.
                                    Teachers, students and parents can tune in to watch their school team and support players.
                                </p>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
